@charset "UTF-8";
.body {
    width: 100%;
}

.box_elem {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    height: 5rem;
    background-color: var(--clr5);
}

.box_elem p {
    font-size: 25px;
}

.box_elem-1 {
    background-color: var(--clr1);
    flex: 2;
}

.box_elem-2 {
    flex: 8;
    background-color: var(--clr3);
    font-weight: 900;
}

.box_elem-3 {
    background-color: var(--clr1);
    flex: 2;
}

.box_elem-4 {
    background-color: var(--clr4);
    flex: 7;
    font-weight: 900;
}

.box_elem-5 {
    background-color: var(--clr1);
    flex: 1;
}

.box_elem-6,
.box_elem-7 {
    background-color: var(--clr2);
    flex: 2;
}

.box_elem-8 {
    background-color: var(--clr1);
    flex: 1;
}

.box_elem-9 {
    background-color: var(--clr5);
    flex: 7;
    font-weight: 900;
}

@media screen and (min-width:350px) {
    .box_elem-7 {
        order: 1;
        background-color: var(--clr1);
    }
    .box_elem-8 {
        order: 0;
        background-color: var(--clr2);
    }
    .box_elem-9 {
        order: 2;
    }
}

@media screen and (min-width:750px) {
    .flexbox-container {
        display: flex;
        width: 100%;
    }
    .box_elem-8,
    .box_elem-5,
    .box_elem-2 {
        margin: 0 5px;
    }
    .box_elem-4 {
        order: 2;
    }
    .box_elem-5 {
        order: 1;
    }
    .box_elem-6 {
        order: 0;
    }
    .box_elem-7 {
        order: 1;
        margin: 0 5px;
        background-color: var(--clr2);
    }
    .box_elem-8 {
        order: 1;
        margin: 0;
        background-color: var(--clr1);
    }
    .box_elem-9 {
        order: 0;
    }
}

@media screen and (min-width:1024px) {
    .box_elem-1 {
        border-radius: 250px 0 0 0;
        border-top: 30px solid hsl(182, 51%, 41%);
        border-left: 30px solid hsl(182, 51%, 41%);
    }
    .box_elem-4 {
        order: 0;
    }
    .box_elem-5 {
        order: 1;
    }
    .box_elem-6 {
        order: 2;
    }
    .box_elem-7 {
        flex: 2;
        order: 1;
        background-color: var(--clr2);
    }
    .box_elem-8 {
        flex: 1;
        order: 0;
        background-color: var(--clr1);
    }
    .box_elem-9 {
        flex: 7;
        order: 2;
        border-radius: 0 0 250px 0;
        border-right: 30px solid hsl(182, 51%, 41%);
        border-bottom: 30px solid hsl(182, 51%, 41%);
    }
}